.navbar-header{
	padding-left: 3%;
}
.jumbotron{
	margin-left: 8%;
	margin-right: 8%;
}
.theme{
	padding-left:4%;
}
.parrafo1{
	padding-left:4%;
}
.btns{
	padding-left:4%;
}

.btnbig{
	padding-left:4%;
}
.btnmedium{
	padding-left:4%;
}
.btnsmall{
	padding-left:4%;
}
.btnsmaller{
	padding-left:4%;
}
.tablas{
	padding-left: 8%;
}

.etiquetas{
	padding-left: 2%;
}
.alertas{
	padding-left: 4%;
}

.paneles{
	padding-left: 4%;
}
